c/* gitlab-language=c linguist-language=C
**/c/* gitlab-language=c linguist-language=C
h/* gitlab-language=c linguist-language=C
**/h/* gitlab-language=c linguist-language=C
cmhg/* gitlab-language=c
**/cmhg/* gitlab-language=c
VersionNum gitlab-language=c

